<fieldset>
  <legend><%= l(:practitest_settings) %></legend>

  <p>
    <label><%= l(:practitest_api_token) %></label>
    <%= text_field_tag 'settings[api_token]', @settings['api_token'] %>
  </p>

  <p>
    <label><%= l(:practitest_url) %></label>
    <%= text_field_tag 'settings[url]', @settings['url'] %>
  </p>

</fieldset>